<mat-stepper labelPosition="bottom" [linear]="isLinear" #stepper>
    <mat-step label="Convoi">
        <app-loader *ngIf="isLoading$ | async" [isContainer]="true" [fullScreen]="false"></app-loader>
        <form [formGroup]="convoyForm" *ngIf="!(isLoading$ | async)">
            <div class="tw-grid min-lg:tw-grid-cols-2 tw-grid-cols-1 tw-gap-x-10 tw-gap-y-4 tw-pt-[100px] tw-px-[50px]">
                <div class="tw-flex tw-flex-col tw-gap-x-10 tw-gap-y-4 tw-px-[50px]">
                    <!-- <p class="tw-text-columnCell tw-font-bold"></p> -->
                    <div iconic-input-wrapper leftSvg="assets/images/scheduling_navigation.svg">
                        <input inputRef type="text" placeholder="Navigation type*" formControlName="navigationType" />
                    </div>
                    <div iconic-select-wrapper leftIcon="grid-2" [rightIcon]="['fas', 'caret-down']">
                        <select inputRef name="ship" id="ship" formControlName="ship">
                            <option disabled selected>Ship</option>
                            <option *ngFor="let customer of customer" [value]="customer.id">
                                {{ customer.name }}
                            </option>
                        </select>
                    </div>
                    <div iconic-select-wrapper leftSvg="assets/images/scheduling_ship_type.svg"
                        [rightIcon]="['fas', 'caret-down']">
                        <select inputRef name="shipType" id="shipType" formControlName="shipType">
                            <option disabled selected>Ship type*</option>
                            <option *ngFor="let customer of customer" [value]="customer.id">
                                {{ customer.name }}
                            </option>
                        </select>
                    </div>
                    <div iconic-input-wrapper leftSvg="assets/images/scheduling_port.svg">
                        <input inputRef type="number" placeholder="Pavilion*" formControlName="pavilion" />
                    </div>
                    <div iconic-input-wrapper leftSvg="assets/images/scheduling_engine.svg">
                        <input inputRef type="number" placeholder="Engine power" formControlName="enginePower" />
                    </div>
                    <div iconic-input-wrapper leftSvg="assets/images/scheduling_file.svg">
                        <input inputRef type="number" placeholder="LOA" formControlName="lengthOverall" />
                    </div>
                    <div iconic-input-wrapper leftSvg="assets/images/scheduling_width.svg">
                        <input inputRef type="number" placeholder="Width (m)*" formControlName="width" />
                    </div>
                    <div iconic-input-wrapper leftSvg="assets/images/scheduling_depth.svg">
                        <input inputRef type="number" placeholder="Max draft (m)*" formControlName="maxDraft" />
                    </div>
                    <div iconic-input-wrapper leftSvg="assets/images/scheduling_weight.svg">
                        <input inputRef type="number" placeholder="C.max (t)*" formControlName="maxQuantity" />
                    </div>
                    <div iconic-select-wrapper leftIcon="user" [rightIcon]="['fas', 'caret-down']">
                        <select inputRef name="agent" id="agent" formControlName="agent">
                            <option disabled selected>Agent</option>
                            <option *ngFor="let customer of customer" [value]="customer.id">
                                {{ customer.name }}
                            </option>
                        </select>
                    </div>
                    <div iconic-input-wrapper leftSvg="assets/images/scheduling_manevra.svg">
                        <input inputRef type="text" placeholder="Manevra" formControlName="maneuvering" />
                    </div>
                </div>
                <div class="tw-flex tw-flex-col tw-gap-x-10 tw-gap-y-4 tw-px-[50px]">
                    <!-- <p>&nbsp;</p> -->
                    <div iconic-input-wrapper leftSvg="assets/images/scheduling_ship_owner.svg">
                        <input inputRef type="text" placeholder="Ship owner" formControlName="shipowner" />
                    </div>
                    <div iconic-input-wrapper leftSvg="assets/images/scheduling_purpose.svg">
                        <input inputRef type="text" placeholder="Purpose" formControlName="purpose" />
                    </div>
                    <div iconic-select-wrapper leftSvg="assets/images/scheduling_operator.svg"
                        [rightIcon]="['fas', 'caret-down']">
                        <select inputRef name="operator" id="operator" formControlName="operator">
                            <option disabled selected>Operator*</option>
                            <option *ngFor="let customer of customer" [value]="customer.id">
                                {{ customer.name }}
                            </option>
                        </select>
                    </div>
                    <div iconic-select-wrapper leftSvg="assets/images/scheduling_trafic_type.svg"
                        [rightIcon]="['fas', 'caret-down']">
                        <select inputRef name="trafficType" id="trafficType" formControlName="trafficType">
                            <option disabled selected>Traffic type*</option>
                            <option *ngFor="let customer of customer" [value]="customer.id">
                                {{ customer.name }}
                            </option>
                        </select>
                    </div>
                    <div iconic-select-wrapper leftSvg="assets/images/scheduling_operation_type.svg"
                        [rightIcon]="['fas', 'caret-down']">
                        <select inputRef name="operationType" id="operationType" formControlName="operatonType">
                            <option disabled selected>Operaton type</option>
                            <option *ngFor="let customer of customer" [value]="customer.id">
                                {{ customer.name }}
                            </option>
                        </select>
                    </div>
                    <div iconic-select-wrapper leftSvg="assets/images/scheduling_cargo.svg"
                        [rightIcon]="['fas', 'caret-down']">
                        <select inputRef name="cargo" id="cargo" formControlName="cargo">
                            <option disabled selected>Cargo*</option>
                            <option *ngFor="let customer of customer" [value]="customer.id">
                                {{ customer.name }}
                            </option>
                        </select>
                    </div>
                    <div iconic-input-wrapper leftSvg="assets/images/scheduling_weight.svg">
                        <input inputRef type="number" placeholder="Quantity (t)" formControlName="quantity" />
                    </div>
                    <div iconic-input-wrapper leftSvg="assets/images/scheduling_unit.svg">
                        <input inputRef type="text" placeholder="Unit.no" formControlName="unitNo" />
                    </div>
                    <div iconic-select-wrapper leftSvg="assets/images/scheduling_port.svg"
                        [rightIcon]="['fas', 'caret-down']">
                        <select inputRef name="portOfOrigin" id="portOfOrigin" formControlName="originPort">
                            <option disabled selected>
                                Port of origin
                            </option>
                            <option *ngFor="let customer of customer" [value]="customer.id">
                                {{ customer.name }}
                            </option>
                        </select>
                    </div>
                    <div iconic-select-wrapper leftSvg="assets/images/scheduling_destination.svg"
                        [rightIcon]="['fas', 'caret-down']">
                        <select inputRef name="destination" id="destination" formControlName="destination">
                            <option disabled selected>Destination</option>
                            <option *ngFor="let customer of customer" [value]="customer.id">
                                {{ customer.name }}
                            </option>
                        </select>
                    </div>
                    <div iconic-input-wrapper leftSvg="assets/images/scheduling_observation.svg">
                        <input inputRef type="text" placeholder="observation" formControlName="observation" />
                    </div>
                </div>
            </div>
            <div class="tw-flex tw-gap-2 tw-justify-center min-md:tw-gap-20 max-md:tw-flex-col tw-py-3">
                <button type="button" class="btn btn-primary min-md:tw-min-w-[436px] tw-min-h-[50px] !tw-text-[18px]" [routerLink]="['../../../convoy', id]">
                    {{ "button.back" | translate }}
                </button>
                <button type="button" class="btn btn-primary min-md:tw-min-w-[436px] tw-min-h-[50px] !tw-text-[18px]"
                    (click)="next(stepTwo$, convoyForm , 1)">
                    {{ "button.next" | translate }}
                </button>
            </div>
        </form>
    </mat-step>
    <mat-step label="Additional Data">
        <app-loader *ngIf="isLoading$ | async" [isContainer]="true" [fullScreen]="false"></app-loader>
        <div *ngIf="!(isLoading$ | async)">
            <div class="tw-pt-[100px] min-xl:tw-px-[50px]">
                <form class="tw-grid min-lg:tw-grid-cols-2 tw-grid-cols-1 tw-gap-x-10 tw-gap-y-4"
                    [formGroup]="convoyForm">
                    <div class="tw-flex tw-flex-col tw-gap-x-10 tw-gap-y-4 tw-px-[50px]">
                        <div iconic-input-wrapper leftIcon="user">
                            <input inputRef type="text" placeholder="Operator" formControlName="additionalOperator"
                                class="tw-text-center" />
                        </div>
                        <mat-button-toggle-group class="tw-flex tw-w-full tw-justify-end tw-items-center tw-mb-[21px]">
                            <button
                                class="tw-min-h-[53px] min-md:tw-min-w-[53px] max-sm:tw-w-full tw-rounded-l-[10px] tw-border-y tw-border-l tw-border-borderColor tw-rounded-r-none">
                                <fa-icon icon="file-lines" size="lg" class="tw-mx-2 tw-cursor-pointer">
                                </fa-icon>
                            </button>
                            <input
                                class="tw-text-center tw-w-full tw-outline-0 tw-shadow-none tw-ring-offset-0 focus:tw-ring-offset-0 focus:tw-shadow-none focus:tw-ring-0 tw-min-h-[53px] tw-border-x-0 tw-border-borderColor tw-rounded-x-0"
                                type="text" [value]="file1Text$ | async" (click)="file1.click()" readonly
                                placeholder="Choose file" />
                            <input #file1 hidden type="file" (change)="
                                    patchFile($any($event.target).files[0] , 0)
                                " />
                            <button (click)="file1.click()"
                                class="tw-bg-primary tw-text-white hover:tw-bg-primary-dark tw-min-h-[53px] min-md:tw-min-w-[60px] max-sm:tw-w-full tw-rounded">
                                <fa-icon icon="upload" size="2x" class="tw-mx-2 tw-cursor-pointer tw-text-white">
                                </fa-icon>
                            </button>
                        </mat-button-toggle-group>
                        <mat-button-toggle-group class="tw-flex tw-w-full tw-justify-end tw-items-center tw-mb-[21px]">
                            <button
                                class="tw-min-h-[53px] min-md:tw-min-w-[53px] max-sm:tw-w-full tw-rounded-l-[10px] tw-border-y tw-border-l tw-border-borderColor tw-rounded-r-none">
                                <fa-icon icon="file-lines" size="lg" class="tw-mx-2 tw-cursor-pointer">
                                </fa-icon>
                            </button>
                            <input
                                class="tw-text-center tw-w-full tw-outline-0 tw-shadow-none tw-ring-offset-0 focus:tw-ring-offset-0 focus:tw-shadow-none focus:tw-ring-0 tw-min-h-[53px] tw-border-x-0 tw-border-borderColor tw-rounded-x-0"
                                type="text" [value]="file2Text$ | async" (click)="file2.click()" readonly
                                placeholder="Choose file" />
                            <input #file2 hidden type="file" (change)="
                                    patchFile($any($event.target).files[0] , 1)
                                " />
                            <button (click)="file2.click()"
                                class="tw-bg-primary tw-text-white hover:tw-bg-primary-dark tw-min-h-[53px] min-md:tw-min-w-[60px] max-sm:tw-w-full tw-rounded">
                                <fa-icon icon="upload" size="2x" class="tw-mx-2 tw-cursor-pointer tw-text-white">
                                </fa-icon>
                            </button>
                        </mat-button-toggle-group>
                        <button *ngIf="!(showFileThree$ | async)" type="button"
                            class="tw-text-primary tw-font-bold tw-mr-auto" (click)="showFileThree$.next(true)">
                            <fa-icon icon="circle-plus"></fa-icon> Add New
                            Document
                        </button>
                    </div>
                    <div class="tw-grid tw-grid-rows-2 tw-gap-x-10 tw-gap-y-4 tw-px-[50px]">
                        <div textarea-wrapper leftIcon="user" [isFullHeight]="true">
                            <textarea class="tw-break-words tw-whitespace-pre-wrap tw-resize-none" inputRef
                                placeholder="Client's comments:" rows="10" cols="1"
                                formControlName="clientComments"></textarea>
                        </div>
                        <div textarea-wrapper leftIcon="id-card" [isFullHeight]="true">
                            <textarea class="tw-break-words tw-whitespace-pre-wrap tw-resize-none" inputRef
                                placeholder="Operator's comments" rows="10" cols="1"
                                formControlName="operatorComments"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tw-flex tw-justify-center min-md:tw-gap-20 tw-gap-3 tw-py-3">
                <button type="button" class="btn btn-primary min-md:tw-min-w-[436px] tw-min-h-[50px] !tw-text-[18px]"
                    matStepperPrevious>
                    {{ "button.back" | translate }}
                </button>
                <button type="button" class="btn btn-primary min-md:tw-min-w-[436px] tw-min-h-[50px] !tw-text-[18px]"
                (click)="saveScheduling()">
                    {{ "button.next" | translate }}
                </button>
            </div>
        </div>
    </mat-step>
</mat-stepper>
