<mat-stepper labelPosition="bottom" [linear]="isLinear" #stepper>
    <mat-step label="Convoi">
        <app-loader *ngIf="isLoading$ | async" [isContainer]="true" [fullScreen]="false"></app-loader>
        <form [formGroup]="convoyForm" *ngIf="!(isLoading$ | async)">
            <div
                class="grid min-lg:grid-cols-2 grid-cols-1 gap-x-10 min-3xl:gap-x-20 gap-y-4 pt-[100px] min-xl:px-[50px]">
                <div class="flex flex-col gap-y-4 min-xl:px-[50px]">
                    <div iconic-select-wrapper leftSvg="assets/images/scheduling_ship_type.svg"
                        [rightIcon]="['fas', 'caret-down']">
                        <select spAccessInputRef name="company" id="company" formControlName="company">
                            <option disabled selected>Ship type*</option>
                            <option *ngFor="let company of companies" [value]="company.id">
                                {{ company.name }}
                            </option>
                        </select>
                    </div>
                    <div iconic-input-wrapper leftSvg="assets/images/scheduling_navigation.svg">
                        <input inputRef type="text" placeholder="Navigation type*" formControlName="navigationType" />
                    </div>
                    <div iconic-select-wrapper leftIcon="grid-2" [rightIcon]="['fas', 'caret-down']">
                        <select spAccessInputRef name="ship" id="ship" formControlName="ship">
                            <option disabled selected>Ship</option>
                            <option *ngFor="let ship of shipsList" [value]="ship.id" [disabled]="ship.disabled">
                                {{ ship.name }}
                            </option>
                        </select>
                        <!-- Add error message or indicator for disabled state -->
                        <div *ngIf="convoyForm.get('ship')?.hasError('shipAlreadySelected')" class="text-red-500">
                            Ship already selected in a previous convoy.
                        </div>
                    </div>
                    <!-- <div iconic-select-wrapper leftIcon="grid-2" [rightIcon]="['fas', 'caret-down']">
                        <select spAccessInputRef name="ship" id="ship" formControlName="ship">
                            <option disabled selected>Ship</option>
                            <option *ngFor="let ship of shipsList" [value]="ship.id">
                                {{ ship.name }}
                            </option>
                        </select>
                    </div> -->
                    <div iconic-select-wrapper leftSvg="assets/images/scheduling_ship_type.svg"
                        [rightIcon]="['fas', 'caret-down']">
                        <select spAccessInputRef name="shipType" id="shipType" formControlName="shipType">
                            <option disabled selected>Ship type*</option>
                            <option *ngFor="let shipType of shipType" [value]="shipType.id">
                                {{ shipType.name }}
                            </option>
                        </select>
                    </div>
                    <div iconic-input-wrapper leftSvg="assets/images/scheduling_port.svg">
                        <input inputRef type="text" placeholder="Pavilion*" formControlName="pavilion" />
                    </div>
                    <div iconic-input-wrapper leftSvg="assets/images/scheduling_engine.svg">
                        <input inputRef type="number" placeholder="Engine power" formControlName="enginePower" />
                    </div>
                    <div iconic-input-wrapper leftSvg="assets/images/scheduling_file.svg">
                        <input inputRef type="number" placeholder="LOA" formControlName="lengthOverall" />
                    </div>
                    <div iconic-input-wrapper leftSvg="assets/images/scheduling_width.svg">
                        <input inputRef type="number" placeholder="Width (m)*" formControlName="width" />
                    </div>
                    <div iconic-input-wrapper leftSvg="assets/images/scheduling_depth.svg">
                        <input inputRef type="number" placeholder="Max draft (m)*" formControlName="maxDraft" />
                    </div>
                    <div iconic-input-wrapper leftSvg="assets/images/scheduling_weight.svg">
                        <input inputRef type="number" placeholder="C.max (t)*" formControlName="maxQuantity" />
                    </div>
                    <div iconic-input-wrapper leftSvg="assets/images/scheduling_ship_owner.svg">
                        <input inputRef type="text" placeholder="Ship owner" formControlName="shipowner" />
                    </div>
                </div>
                <div class="flex flex-col gap-y-4 min-xl:px-[50px]">
                    <div iconic-input-wrapper leftSvg="assets/images/scheduling_purpose.svg">
                        <input inputRef type="text" placeholder="Purpose" formControlName="purpose" />
                    </div>
                    <div iconic-select-wrapper leftSvg="assets/images/scheduling_operator.svg"
                        [rightIcon]="['fas', 'caret-down']">
                        <select spAccessInputRef name="status" id="status" formControlName="status">
                            <option disabled selected>status</option>
                            <option *ngFor="let status of statuses" [value]="status.id">
                                {{ status.name }}
                            </option>
                        </select>
                    </div>
                    <div iconic-select-wrapper leftSvg="assets/images/scheduling_operator.svg"
                        [rightIcon]="['fas', 'caret-down']">
                        <select spAccessInputRef name="operator" id="operator" formControlName="operator">
                            <option disabled selected>Operator*</option>
                            <option *ngFor="let operator of operator" [value]="operator.id">
                                {{ operator.name }}
                            </option>
                        </select>
                    </div>
                    <div iconic-select-wrapper leftSvg="assets/images/scheduling_trafic_type.svg"
                        [rightIcon]="['fas', 'caret-down']">
                        <select spAccessInputRef name="trafficType" id="trafficType" formControlName="trafficType">
                            <option disabled selected>Traffic type*</option>
                            <option *ngFor="let trafficType of trafficType" [value]="trafficType.id">
                                {{ trafficType.name }}
                            </option>
                        </select>
                    </div>
                    <div iconic-select-wrapper leftSvg="assets/images/scheduling_operation_type.svg"
                        [rightIcon]="['fas', 'caret-down']">
                        <select spAccessInputRef name="operationType" id="operationType" formControlName="operatonType">
                            <option disabled selected>Operaton type</option>
                            <option *ngFor="let operationType of operationType" [value]="operationType.id">
                                {{ operationType.name }}
                            </option>
                        </select>
                    </div>
                    <div iconic-select-wrapper leftSvg="assets/images/scheduling_cargo.svg"
                        [rightIcon]="['fas', 'caret-down']">
                        <select spAccessInputRef name="cargo" id="cargo" formControlName="cargo">
                            <option disabled selected>Cargo*</option>
                            <option *ngFor="let cargo of cargo" [value]="cargo.id">
                                {{ cargo.name }}
                            </option>
                        </select>
                    </div>
                    <div iconic-input-wrapper leftSvg="assets/images/scheduling_weight.svg">
                        <input inputRef type="number" placeholder="Quantity (t)" formControlName="quantity" />
                    </div>
                    <div iconic-input-wrapper leftSvg="assets/images/scheduling_unit.svg">
                        <input inputRef type="text" placeholder="Unit.no" formControlName="unitNo" />
                    </div>
                    <div iconic-select-wrapper leftSvg="assets/images/scheduling_port.svg"
                        [rightIcon]="['fas', 'caret-down']">
                        <select spAccessInputRef name="portOfOrigin" id="portOfOrigin" formControlName="originPort">
                            <option disabled selected>
                                Port of origin
                            </option>
                            <option *ngFor="let portOfOrigin of portOfOrigin" [value]="portOfOrigin.id">
                                {{ portOfOrigin.name }}
                            </option>
                        </select>
                    </div>
                    <div iconic-select-wrapper leftSvg="assets/images/scheduling_destination.svg"
                        [rightIcon]="['fas', 'caret-down']">
                        <select spAccessInputRef name="destination" id="destination" formControlName="destination">
                            <option disabled selected>Destination</option>
                            <option *ngFor="let destination of destination" [value]="destination.id">
                                {{ destination.name }}
                            </option>
                        </select>
                    </div>
                    <div iconic-input-wrapper leftSvg="assets/images/scheduling_observation.svg">
                        <input inputRef type="text" placeholder="Observation" formControlName="observation" />
                    </div>
                </div>
            </div>
            <div class="min-xl:px-[50px] grid min-lg:grid-cols-2 grid-cols-1 gap-x-10 min-3xl:gap-x-20 mt-4">
                <div class="gap-y-4 mb-5 min-xl:px-[50px]">
                    <button type="button" class="btn btn-primary w-full min-h-[50px] !text-[18px]"
                        [routerLink]="['../']">
                        {{ "button.back" | translate }}
                    </button>
                </div>
                <div class="gap-y-4 mb-5 min-xl:px-[50px]">
                    <button type="button" class="btn btn-primary w-full min-h-[50px] !text-[18px]"
                        (click)="next(1)">
                        {{ "button.next" | translate }}
                    </button>
                </div>
            </div>
        </form>
    </mat-step>
    <mat-step label="Additional Data">
        <app-loader *ngIf="isLoading$ | async" [isContainer]="true" [fullScreen]="false"></app-loader>
        <div *ngIf="!(isLoading$ | async)">
            <div class="pt-[100px] min-xl:px-[50px]">
                <form class="grid min-lg:grid-cols-2 grid-cols-1 gap-x-10 min-3xl:gap-x-20 gap-y-4"
                    [formGroup]="convoyForm">
                    <div class="flex flex-col gap-y-4 min-xl:px-[50px]">
                        <div iconic-input-wrapper leftIcon="user">
                            <input inputRef type="text" placeholder="Operator" formControlName="additionalOperator"
                                class="text-center" />
                        </div>
                        <mat-button-toggle-group class="flex w-full justify-end items-center mb-[21px]">
                            <button
                                class="min-h-[53px] min-md:min-w-[53px] max-sm:w-full rounded-l-[10px] border-y border-l border-borderColor rounded-r-none">
                                <fa-icon icon="file-lines" size="lg" class="mx-2 cursor-pointer">
                                </fa-icon>
                            </button>
                            <input
                                class="text-center w-full outline-0 shadow-none ring-offset-0 focus:ring-offset-0 focus:shadow-none focus:ring-0 min-h-[53px] border-x-0 border-borderColor rounded-x-0"
                                type="text" [value]="file1Text$ | async" (click)="file1.click()" readonly
                                placeholder="Choose file" />
                            <input #file1 hidden type="file" (change)="
                                    patchFile($any($event.target).files[0] , 0)
                                " />
                            <button (click)="file1.click()"
                                class="bg-primary text-white hover:bg-primary-dark min-h-[53px] min-md:min-w-[60px] max-sm:w-full rounded">
                                <fa-icon icon="upload" size="2x" class="mx-2 cursor-pointer text-white">
                                </fa-icon>
                            </button>
                        </mat-button-toggle-group>
                        <mat-button-toggle-group class="flex w-full justify-end items-center mb-[21px]">
                            <button
                                class="min-h-[53px] min-md:min-w-[53px] max-sm:w-full rounded-l-[10px] border-y border-l border-borderColor rounded-r-none">
                                <fa-icon icon="file-lines" size="lg" class="mx-2 cursor-pointer">
                                </fa-icon>
                            </button>
                            <input
                                class="text-center w-full outline-0 shadow-none ring-offset-0 focus:ring-offset-0 focus:shadow-none focus:ring-0 min-h-[53px] border-x-0 border-borderColor rounded-x-0"
                                type="text" [value]="file2Text$ | async" (click)="file2.click()" readonly
                                placeholder="Choose file" />
                            <input #file2 hidden type="file" (change)="
                                    patchFile($any($event.target).files[0] , 1)
                                " />
                            <button (click)="file2.click()"
                                class="bg-primary text-white hover:bg-primary-dark min-h-[53px] min-md:min-w-[60px] max-sm:w-full rounded">
                                <fa-icon icon="upload" size="2x" class="mx-2 cursor-pointer text-white">
                                </fa-icon>
                            </button>
                        </mat-button-toggle-group>
                        <button *ngIf="!(showFileThree$ | async)" type="button" class="text-primary font-bold mr-auto"
                            (click)="showFileThree$.next(true)">
                            <fa-icon icon="circle-plus"></fa-icon> Add New
                            Document
                        </button>
                    </div>
                    <div class="flex flex-col gap-y-4 min-xl:px-[50px]">
                        <div textarea-wrapper leftIcon="user" [isFullHeight]="true">
                            <textarea class="break-words whitespace-pre-wrap resize-none" inputRef
                                placeholder="Client's comments:" rows="10" cols="1"
                                formControlName="clientComments"></textarea>
                        </div>
                        <div textarea-wrapper leftIcon="id-card" [isFullHeight]="true">
                            <textarea class="break-words whitespace-pre-wrap resize-none" inputRef
                                placeholder="Operator's comments" rows="10" cols="1"
                                formControlName="operatorComments"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="min-xl:px-[50px] grid min-lg:grid-cols-2 grid-cols-1 gap-x-10 min-3xl:gap-x-20 mt-10">
                <div class="gap-y-4 mb-5 min-xl:px-[50px]">
                    <button type="button" class="btn btn-primary w-full min-h-[50px] !text-[18px]" matStepperPrevious>
                        {{ "button.back" | translate }}
                    </button>
                </div>
                <div class="gap-y-4 mb-5 min-xl:px-[50px]">
                    <button type="button" class="btn btn-primary w-full min-h-[50px] !text-[18px]"
                         (click)="updateConvoys()">
                        {{ "Update" | translate }}
                    </button>
                </div>
            </div>
        </div>
    </mat-step>
</mat-stepper>
