<section class="tw-bg-white max-md:tw-min-w-100 min-lg:tw-min-w-[850px] tw-h-full tw-p-[50px] tw-overflow-auto">
    <!-- <app-loader class="tw-m-auto tw-flex-grow" *ngIf="(isLoading$ | async)" [fullScreen]="false"></app-loader> -->
    <div>
        <div>
            <h2 class="heading-2 tw-font-bold tw-text-primary">Transfer options</h2>
        </div>
        <div>
            <p class="tw-mt-10">Please choose one of the option below.</p>
        </div>
    </div>

    <section class="tw-mt-10 result-container">
        <table class="table tw-border tw-border-lightgray">
            <thead>
                <tr>
                    <th class="tw-w-[8%]">Select</th>
                    <th class="tw-flex">Transfer options</th>
                </tr>
            </thead>
            <tbody class="scroll">
                <tr>
                    <td>
                              <mat-checkbox ></mat-checkbox>
                    </td>
                    <td class="tw-flex">
                        ghfghfgh
                    </td>
                </tr>
                <tr>
                    <td>
                        dfgdg
                    </td>
                    <td class="tw-flex">
                        ghfghfgh
                    </td>
                </tr>
                <tr>
                    <td>
                        dfgdg
                    </td>
                    <td class="tw-flex">
                        ghfghfgh
                    </td>
                </tr>
                <tr>
                    <td>
                        dfgdg
                    </td>
                    <td class="tw-flex">
                        ghfghfgh
                    </td>
                </tr>
                <tr>
                    <td>
                        dfgdg
                    </td>
                    <td class="tw-flex">
                        ghfghfgh
                    </td>
                </tr>
                <tr>
                    <td>
                        dfgdg
                    </td>
                    <td class="tw-flex">
                        ghfghfgh
                    </td>
                </tr>
                <tr>
                    <td>
                        dfgdg
                    </td>
                    <td class="tw-flex">
                        ghfghfgh
                    </td>
                </tr>
                <tr>
                    <td>
                        dfgdg
                    </td>
                    <td class="tw-flex">
                        ghfghfgh
                    </td>
                </tr>
                <tr>
                    <td>
                        dfgdg
                    </td>
                    <td class="tw-flex">
                        ghfghfgh
                    </td>
                </tr>
                <tr>
                    <td>
                        dfgdg
                    </td>
                    <td class="tw-flex">
                        ghfghfgh
                    </td>
                </tr>
                <tr>
                    <td>
                        dfgdg
                    </td>
                    <td class="tw-flex">
                        ghfghfgh
                    </td>
                </tr>
            </tbody>
            <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
        </table>
    </section>
    <div class="tw-flex flex-row tw-justify-between tw-pt-5">
        <div>
            <button
                class="btn btn-outline-primary round-border tw-rounded-full tw-h-[37px] tw-w-[150px]"
                type="button"
            >
                Cancel
            </button>
        </div>
        <div>
            <button
                class="btn btn-primary round-border tw-h-[37px] tw-w-[150px]"
                type="button"
            >
                Save
            </button>
        </div>
    </div>
</section>