<section class="bg-white max-md:min-w-100 min-lg:min-w-[850px] h-full p-[50px] overflow-auto">
    <!-- <app-loader class="m-auto flex-grow" *ngIf="(isLoading$ | async)" [fullScreen]="false"></app-loader> -->
    <div>
        <div>
            <h2 class="heading-2 font-bold text-primary">Transfer options</h2>
        </div>
        <div>
            <p class="mt-10">Please choose one of the option below.</p>
        </div>
    </div>

    <section class="mt-10 result-container">
        <table class="table border border-lightgray">
            <thead>
                <tr>
                    <th class="w-[8%]">Select</th>
                    <th class="flex">Transfer options</th>
                </tr>
            </thead>
            <tbody class="scroll">
                <tr>
                    <td>
                              <mat-checkbox ></mat-checkbox>
                    </td>
                    <td class="flex">
                        ghfghfgh
                    </td>
                </tr>
                <tr>
                    <td>
                        dfgdg
                    </td>
                    <td class="flex">
                        ghfghfgh
                    </td>
                </tr>
                <tr>
                    <td>
                        dfgdg
                    </td>
                    <td class="flex">
                        ghfghfgh
                    </td>
                </tr>
                <tr>
                    <td>
                        dfgdg
                    </td>
                    <td class="flex">
                        ghfghfgh
                    </td>
                </tr>
                <tr>
                    <td>
                        dfgdg
                    </td>
                    <td class="flex">
                        ghfghfgh
                    </td>
                </tr>
                <tr>
                    <td>
                        dfgdg
                    </td>
                    <td class="flex">
                        ghfghfgh
                    </td>
                </tr>
                <tr>
                    <td>
                        dfgdg
                    </td>
                    <td class="flex">
                        ghfghfgh
                    </td>
                </tr>
                <tr>
                    <td>
                        dfgdg
                    </td>
                    <td class="flex">
                        ghfghfgh
                    </td>
                </tr>
                <tr>
                    <td>
                        dfgdg
                    </td>
                    <td class="flex">
                        ghfghfgh
                    </td>
                </tr>
                <tr>
                    <td>
                        dfgdg
                    </td>
                    <td class="flex">
                        ghfghfgh
                    </td>
                </tr>
                <tr>
                    <td>
                        dfgdg
                    </td>
                    <td class="flex">
                        ghfghfgh
                    </td>
                </tr>
            </tbody>
            <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
        </table>
    </section>
    <div class="flex flex-row justify-between pt-5">
        <div>
            <button
                class="btn btn-outline-primary round-border rounded-full h-[37px] w-[150px]"
                type="button"
            >
                Cancel
            </button>
        </div>
        <div>
            <button
                class="btn btn-primary round-border h-[37px] w-[150px]"
                type="button"
            >
                Save
            </button>
        </div>
    </div>
</section>