<div class="max-md:grid gap-8 min-lg:columns-3 max-md:columns-1">
    <div routerLink="../list/transport-data" class="slide-in-bottom max-w-sm rounded-lg overflow-hidden shadow-lg bg-white p-20 min-h-[380px] cursor-pointer">
        <div class="flex justify-center p-10 border border-gray rounded-full h-[150px] w-[150px] items-center m-auto">
            <fa-icon icon="user-group" size="3x" class="text-primary"></fa-icon>
        </div>
        <div class="flex justify-center pt-5 pb-10">
            <h4 class="heading-4 text-gray">User Form</h4>
        </div>
    </div>

  <div routerLink="../list/transport-data" class="slide-in-bottom mt-4 max-w-sm rounded-lg overflow-hidden shadow-lg bg-white p-20 min-h-[380px] cursor-pointer">
    <div class="flex justify-center p-10 border border-gray rounded-full h-[150px] w-[150px] items-center m-auto">
      <fa-icon icon="truck-fast" size="3x" class="text-primary"></fa-icon>
    </div>
    <div class="flex justify-center pt-5 pb-10">
      <h4 class="heading-4 text-gray">Vehicle Form</h4>
    </div>
  </div>

  <div routerLink="../list/transport-data" class="slide-in-bottom mt-4 max-w-sm rounded-lg overflow-hidden shadow-lg bg-white p-20 min-h-[380px] cursor-pointer">
    <div class="flex justify-center p-10 border border-gray rounded-full h-[150px] w-[150px] items-center m-auto">
      <fa-icon icon="location-dot" size="3x" class="text-primary"></fa-icon>
    </div>
    <div class="flex justify-center pt-5 pb-10">
      <h4 class="heading-4 text-gray">Location Form</h4>
    </div>
  </div>

  <div routerLink="../list/transport-data" class="slide-in-bottom mt-4 max-w-sm rounded-lg overflow-hidden shadow-lg bg-white p-20 min-h-[380px] cursor-pointer">
    <div class="flex justify-center p-10 border border-gray rounded-full h-[150px] w-[150px] items-center m-auto">
      <fa-icon icon="bolt-lightning" size="3x" class="text-primary"></fa-icon>
    </div>
    <div class="flex justify-center pt-5 pb-10">
      <h4 class="heading-4 text-gray">Operations Form</h4>
    </div>
  </div>

  <div routerLink="../list/transport-data" class="slide-in-bottom mt-4  max-w-sm rounded-lg overflow-hidden shadow-lg bg-white p-20 min-h-[380px] cursor-pointer">
    <div class="flex justify-center p-10 border border-gray rounded-full h-[150px] w-[150px] items-center m-auto">
      <fa-icon icon="shield" size="3x" class="text-primary"></fa-icon>
    </div>
    <div class="flex justify-center pt-5 pb-10">
      <h4 class="heading-4 text-gray">Partner Form</h4>
    </div>
  </div>

  <div routerLink="../list/transport-data" class="slide-in-bottom mt-4 max-w-sm rounded-lg overflow-hidden shadow-lg bg-white p-20 min-h-[380px] cursor-pointer">
    <div class="flex justify-center p-10 border border-gray rounded-full h-[150px] w-[150px] items-center m-auto">
      <fa-icon icon="phone" size="3x" class="text-primary"></fa-icon>
    </div>
    <div class="flex justify-center pt-5 pb-10">
      <h4 class="heading-4 text-gray">Contact Form</h4>
    </div>
  </div>

</div>
