<edit-container [headerTitle]="id ?  'Edit Train Details':'Add Train Details'">
    <app-loader *ngIf="(isLoading$ | async)" [isContainer]="true" [fullScreen]="false"></app-loader>
    <form [formGroup]="trainForm" *ngIf="!(isLoading$ | async)" class="min-h-full">
        <div class="flex flex-col mx-auto max-w-[440px] gap-5">
            <div>
                <div iconic-input-wrapper leftIcon="id-badge">
                    <input inputRef type="text" placeholder="Registration no" formControlName="registrationNumber">
                </div>
            </div>
            <div>
                <div iconic-select-wrapper leftIcon="user" >
                    <select spAccessInputRef name="type" id="type" formControlName="type" (click)="typeChanged($event)">
                        <option value="" disabled>Select Type</option>
                        <option *ngFor="let type of trainsType" value="{{type.value}}">{{type.name}}</option>
                    </select>
                </div>
            </div>
            <div *ngIf="type === 'LOCOMOTIVE'">
                <div iconic-select-wrapper leftSvg="assets/images/engine.svg" >
                    <select spAccessInputRef name="locomotiveType" id="locomotiveType" formControlName="locomotiveType">
                        <option value="" disabled>Locomotive Type</option>
                        <option *ngFor="let locomotiveType of locomotiveTypes" value="{{locomotiveType.name}}">{{locomotiveType.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <div iconic-select-wrapper leftIcon="eye" >
                    <select spAccessInputRef name="status" id="status" formControlName="status">
                        <option value="" disabled>Select Status</option>
                        <option value="true">Active</option>
                        <option value="false">Inactive</option>
                    </select>
                </div>
            </div>

        </div>
        <div class="flex justify-end pt-5">
            <div class="flex gap-4">
                <button [routerLink]="id ? '../../list' : '../list'" class="btn btn-outline-primary"
                    type="button">Cancel</button>
                <button [disabled]="trainForm.invalid || (isLoading$ | async)" class="btn btn-primary" type="button"
                    (click)="saveVehicle()">Save</button>
            </div>
        </div>
    </form>
</edit-container>
