.mat-stepper-horizontal {
    margin-top: 8px;

    ::ng-deep div.mat-horizontal-stepper-header-container {
        padding: 0 15%;
        margin: 0 auto;
    }
}

ul li {
    @apply px-5 my-2 hover:bg-lightgray cursor-pointer;
}

:host {
    ::ng-deep .mat-menu-panel {
        max-width: none !important;
        overflow: unset !important;
    }

    ::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::after,
    ::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::before,
    ::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::after {
        background-color: #46D0E5 ;
        height: 5px ;
        border: 0 ;
        top: calc(calc((var(--mat-stepper-header-height) - 24px) / 2) + 58px) ;
        width: calc(50% - 17px) ;
    }

    ::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header .mat-step-icon {
        height: 35px ;
        width: 35px ;
        border: #46D0E5 5px solid ;
        border-radius: 9999px;
        background-color: white ;
        color: #46D0E5 ;
    }

    ::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header .mat-step-icon-selected {
        border: #17A0B5 ;
        background-color: #17A0B5 ;
        color: white ;
    }

    ::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header{
        flex-direction: column-reverse;
        background-color: white;
    }

    ::ng-deep .mat-step-header:hover:not([aria-disabled]){
        background-color: white;
    }

    ::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header .mat-step-label{
        color: #A0A0A0;
        font-weight: 700;
        font-size: 18px;
    }

    ::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header .mat-step-label.mat-step-label-selected,
    ::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header .mat-step-label.mat-step-label-active{
        color: black;
    }

    ::ng-deep .select-client-input::placeholder {
        color: black;
    }

    textarea::-webkit-input-placeholder {
        text-align: center;
        line-height: 200px;
    }

    textarea:-moz-placeholder {
        text-align: center;
        line-height: 200px;
    }

    textarea::-moz-placeholder {
        text-align: center;
        line-height: 200px;
    }

    textarea:-ms-input-placeholder {
        text-align: center;
        line-height: 200px;
    }
}

.time-picker {
    position: relative;
  }
  .time-picker::-webkit-calendar-picker-indicator {
    background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20enable-background%3D%22new%200%200%2024%2024%22%20height%3D%2224px%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224px%22%20fill%3D%22%23000000%22%3E%3Cg%3E%3Crect%20fill%3D%22none%22%20height%3D%2224%22%20width%3D%2224%22%2F%3E%3C%2Fg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath%20d%3D%22M12%2C2C6.5%2C2%2C2%2C6.5%2C2%2C12s4.5%2C10%2C10%2C10s10-4.5%2C10-10S17.5%2C2%2C12%2C2z%20M16.2%2C16.2L11%2C13V7h1.5v5.2l4.5%2C2.7L16.2%2C16.2z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    width: 24px;
  }
  
  :host ::ng-deep .mat-form-field-infix {
    display: flex;
  }
  
//   .mat-form-field {
//     width: 100%;
//   }
