<section class="tw-bg-white tw-w-full">
    <app-loader *ngIf="isLoading$ | async" [isContainer]="true" [fullScreen]="false"></app-loader>
    <form [formGroup]="planningForm" *ngIf="!(isLoading$ | async)">
        <div class="tw-grid min-lg:tw-grid-cols-2 tw-grid-cols-1 tw-gap-x-10 tw-gap-y-4 tw-pt-[100px] tw-px-[50px]">
            <div class="tw-flex tw-flex-col tw-gap-x-10 tw-gap-y-4 tw-px-[50px]">
                <!-- <p class="tw-text-columnCell tw-font-bold"></p> -->
                <div iconic-input-wrapper leftIcon="user">
                    <input inputRef type="text" placeholder="Convoy Type" formControlName="convoyType" />
                </div>
                <div class="tw-grid tw-grid-cols-2 tw-gap-x-8 tw-gap-y-4 tw-mb-5">
                    <div class=" tw-flex tw-flex-col" formGroupName="routingDetail">
                        <datepicker matTooltipClass="tw-drop-shadow-lg" matTooltipPosition="above"
                            [matTooltip]="'Pick ETA date' | translate"
                            [model]="filterDate" [isHeaderPosition]="true" [height]="52"></datepicker>
                    </div>
                    <div class=" tw-flex tw-flex-col" formGroupName="routingDetail">
                        <timepicker matTooltipClass="tw-drop-shadow-lg" matTooltipPosition="above"
                        [matTooltip]="'Pick ETA time' | translate"[height]="52"></timepicker>
                    </div>
                </div>
                <div iconic-input-wrapper leftIcon="location-dot">
                    <input inputRef type="text" placeholder="Location Port" formControlName="locationPort" />
                </div>
                <div iconic-select-wrapper leftSvg="assets/images/scheduling_map_location.svg"
                    [rightIcon]="['fas', 'caret-down']">
                    <select inputRef name="zone" id="zone" formControlName="zone">
                        <option disabled selected>Zone</option>
                        <option *ngFor="let customer of customer" [value]="customer.id">
                            {{ customer.name }}
                        </option>
                    </select>
                </div>
                <div iconic-select-wrapper leftSvg="assets/images/scheduling_ship_type.svg"
                    [rightIcon]="['fas', 'caret-down']">
                    <select inputRef name="departurePort" id="departurePort" formControlName="departurePort">
                        <option disabled selected>
                            Departure Port
                        </option>
                        <option *ngFor="let customer of customer" [value]="customer.id">
                            {{ customer.name }}
                        </option>
                    </select>
                </div>
                <div iconic-select-wrapper leftSvg="assets/images/scheduling_arrival_port.svg"
                    [rightIcon]="['fas', 'caret-down']">
                    <select inputRef name="arrivalPort" id="arrivalPort" formControlName="arrivalPort">
                        <option disabled selected>Arival Port</option>
                        <option *ngFor="let customer of customer" [value]="customer.id">
                            {{ customer.name }}
                        </option>
                    </select>
                </div>
                <div iconic-input-wrapper leftSvg="assets/images/scheduling_port.svg">
                    <input inputRef type="text" placeholder="Pilot Company" formControlName="pilotCompany" />
                </div>
            </div>
            <div class="tw-flex tw-flex-col tw-gap-x-10 tw-gap-y-4 tw-px-[50px]">
                <!-- <p>&nbsp;</p> -->
                <div iconic-input-wrapper leftSvg="assets/images/scheduling_length.svg">
                    <input inputRef type="number" placeholder="Length (m)*" formControlName="length" />
                </div>
                <div iconic-input-wrapper leftSvg="assets/images/scheduling_width.svg">
                    <input inputRef type="number" placeholder="Width (m)*" formControlName="width" />
                </div>
                <div iconic-input-wrapper leftSvg="assets/images/scheduling_depth.svg">
                    <input inputRef type="number" placeholder="Max Draft" formControlName="maxDraft" />
                </div>
                <div iconic-input-wrapper leftSvg="assets/images/scheduling_convoy.svg">
                    <input inputRef type="number" placeholder="Aerial Guage (M)*" formControlName="arrivalGauge" />
                </div>
                <div iconic-input-wrapper leftSvg="assets/images/scheduling_weight.svg">
                    <input inputRef type="number" placeholder="Capacity max (m)*" formControlName="maxCapacity" />
                </div>
                <div iconic-select-wrapper leftSvg="assets/images/scheduling_lock.svg"
                    [rightIcon]="['fas', 'caret-down']">
                    <select inputRef name="typeOfLock" id="typeOfLock" formControlName="lockType">
                        <option disabled selected>Type of lock</option>
                        <option *ngFor="let customer of customer" [value]="customer.id">
                            {{ customer.name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="tw-flex tw-gap-2 tw-justify-center min-md:tw-gap-20 max-md:tw-flex-col tw-py-3">
            <button type="button" class="btn btn-outline-primary min-md:tw-min-w-[436px] tw-min-h-[50px] !tw-text-[18px]" [routerLink]="id ? '../../' : '../'">
                {{ "cancel" | translate }}
            </button>
            <button type="button" class="btn btn-primary min-md:tw-min-w-[436px] tw-min-h-[50px] !tw-text-[18px]" (click)="updateRoutingDetails()">
                {{ "update" | translate }}
            </button>
        </div>
    </form>
</section>
