<section class="bg-white w-full">
    <app-loader *ngIf="isLoading$ | async" [isContainer]="true" [fullScreen]="false"></app-loader>
    <form [formGroup]="planningForm" *ngIf="!(isLoading$ | async)">
        <div class="grid min-lg:grid-cols-2 grid-cols-1 gap-x-10 min-3xl:gap-x-20 gap-y-4 pt-[100px] min-xl:px-[50px]">
            <div class="flex flex-col gap-y-4 min-xl:px-[50px]">
                <!-- <p class="text-columnCell font-bold"></p> -->
                <div iconic-input-wrapper leftIcon="user">
                    <input inputRef type="text" placeholder="Convoy Type" formControlName="convoyType" />
                </div>
                <div class="grid grid-cols-2 gap-x-8 gap-y-4 mb-5">
                    <div class=" flex flex-col">
                        <datepicker matTooltipClass="drop-shadow-lg" matTooltipPosition="above"
                            [matTooltip]="'Pick ETA date' | translate" [model]="dateModal" [isHeaderPosition]="true"
                            [height]="52" (dateChanged)="OnDateChange($event)">
                        </datepicker>
                    </div>
                    <div class=" flex flex-col">
                        <timepicker matTooltipClass="drop-shadow-lg" matTooltipPosition="above"
                            [matTooltip]="'Pick ETA time' | translate" [model]="timeVal" [height]="52"
                            (modelChange)="OnTimeChange($event)"></timepicker>
                    </div>
                </div>
                <div iconic-input-wrapper leftIcon="location-dot">
                    <input inputRef type="text" placeholder="Location Port" formControlName="locationPort" />
                </div>
                <div iconic-select-wrapper leftSvg="assets/images/scheduling_map_location.svg"
                    [rightIcon]="['fas', 'caret-down']">
                    <select spAccessInputRef name="zone" id="zone" formControlName="zone">
                        <option disabled selected>Zone</option>
                        <option *ngFor="let customer of customer" [value]="customer.id">
                            {{ customer.name }}
                        </option>
                    </select>
                </div>
                <div iconic-select-wrapper leftSvg="assets/images/scheduling_ship_type.svg"
                    [rightIcon]="['fas', 'caret-down']">
                    <select spAccessInputRef name="departurePort" id="departurePort" formControlName="departurePort">
                        <option disabled selected>
                            Departure Port
                        </option>
                        <option *ngFor="let customer of customer" [value]="customer.id">
                            {{ customer.name }}
                        </option>
                    </select>
                </div>
                <div iconic-select-wrapper leftSvg="assets/images/scheduling_arrival_port.svg"
                    [rightIcon]="['fas', 'caret-down']">
                    <select spAccessInputRef name="arrivalPort" id="arrivalPort" formControlName="arrivalPort">
                        <option disabled selected>Arival Port</option>
                        <option *ngFor="let customer of customer" [value]="customer.id">
                            {{ customer.name }}
                        </option>
                    </select>
                </div>
                <div iconic-input-wrapper leftSvg="assets/images/scheduling_port.svg">
                    <input inputRef type="text" placeholder="Pilot Company" formControlName="pilotCompany" />
                </div>
            </div>
            <div class="flex flex-col gap-y-4 min-xl:px-[50px]">
                <!-- <p>&nbsp;</p> -->
                <div iconic-input-wrapper leftSvg="assets/images/scheduling_length.svg">
                    <input inputRef type="number" placeholder="Length (m)*" formControlName="length" />
                </div>
                <div iconic-input-wrapper leftSvg="assets/images/scheduling_width.svg">
                    <input inputRef type="number" placeholder="Width (m)*" formControlName="width" />
                </div>
                <div iconic-input-wrapper leftSvg="assets/images/scheduling_depth.svg">
                    <input inputRef type="number" placeholder="Max Draft" formControlName="maxDraft" />
                </div>
                <div iconic-input-wrapper leftSvg="assets/images/scheduling_convoy.svg">
                    <input inputRef type="number" placeholder="Aerial Guage (M)*" formControlName="arrivalGauge" />
                </div>
                <div iconic-input-wrapper leftSvg="assets/images/scheduling_weight.svg">
                    <input inputRef type="number" placeholder="Capacity max (m)*" formControlName="maxCapacity" />
                </div>
                <div iconic-select-wrapper leftSvg="assets/images/scheduling_lock.svg"
                    [rightIcon]="['fas', 'caret-down']">
                    <select spAccessInputRef name="typeOfLock" id="typeOfLock" formControlName="lockType">
                        <option disabled selected>Type of lock</option>
                        <option *ngFor="let customer of customer" [value]="customer.id">
                            {{ customer.name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="min-xl:px-[50px] grid min-lg:grid-cols-2 grid-cols-1 gap-x-10 min-3xl:gap-x-20 mt-4">
            <div class="gap-y-4 mb-5 min-xl:px-[50px]">
                <button type="button" class="btn btn-outline-primary w-full min-h-[50px] !text-[18px]"
                    routerLink="../../">
                    {{ "Cancel" | translate }}
                </button>
            </div>
            <div class="gap-y-4 mb-5 min-xl:px-[50px]">
                <button type="button" class="btn btn-primary w-full min-h-[50px] !text-[18px]"
                    [disabled]="!planningForm.valid" (click)="updateRoutingDetails()">
                    {{ "Update" | translate }}
                </button>
            </div>
        </div>
    </form>
</section>
