<div class="flex-grow flex flex-col gap-8">
    <div class="flex min-md:justify-between sm:justify-center md:flex-row max-md:flex-col gap-4">
        <div class="flex gap-4 max-md:flex-col">
            <searchbar [minWidth]="500">
              <fa-icon icon="search" leftIcon></fa-icon>
              <input input class="rounded" type="text" placeholder="Search">
            </searchbar>
            <searchbar>
                <input input class="rounded" type="text" placeholder="Tip operatiune">
              </searchbar>
        </div>
        <div>
            <button
            routerLink="../scheduling/add" [relativeTo]="route.parent"
            class="btn btn-primary min-md:min-w-[150px] max-sm:w-full" type="button">{{'operator.add-sid' | translate}}</button>
        </div>
    </div>
    <div class="max-md:grid gap-8 min-lg:columns-3 max-md:columns-1">
        <div class="slide-in-bottom max-w-sm rounded-lg overflow-hidden shadow-lg bg-white p-20 min-h-[480px] cursor-pointer" routerLink="../list">
            <div class="flex justify-center p-10 border border-gray rounded-full h-[150px] w-[150px] items-center m-auto">
                <fa-icon icon="truck" size="3x" class="text-primary"></fa-icon>
            </div>
            <div class="flex justify-center pt-5 pb-10">
                <h4 class="heading-4 text-panelColor">History</h4>
            </div>
            <div class="flex justify-center">
                <p class="heading-5 text-panelColor">Afișează lista cu istoricul din baza de date.</p>
            </div>
        </div>
        <div class="slide-in-bottom max-w-sm rounded-lg overflow-hidden shadow-lg bg-white p-20 min-h-[480px] cursor-pointer" routerLink="../list">
            <div class="flex justify-center p-10 border border-gray rounded-full h-[150px] w-[150px] items-center m-auto">
                <fa-icon icon="truck" size="3x" class="text-primary"></fa-icon>
            </div>
            <div class="flex justify-center pt-5 pb-10">
                <h4 class="heading-4 text-panelColor">Today</h4>
            </div>
            <div class="flex justify-center">
                <p class="heading-5 text-panelColor">Afișează cu toate autovehiculele din ziua curentă și statutul lor.</p>
            </div>
        </div>
        <div class="slide-in-bottom max-w-sm rounded-lg overflow-hidden shadow-lg bg-white p-20 min-h-[480px] cursor-pointer" routerLink="../list">
            <div class="flex justify-center p-10 border border-gray rounded-full h-[150px] w-[150px] items-center m-auto">
                <fa-icon icon="truck" size="3x" class="text-primary"></fa-icon>
            </div>
            <div class="flex justify-center pt-5 pb-10">
                <h4 class="heading-4 text-panelColor">Later</h4>
            </div>
            <div class="flex justify-center">
                <p class="heading-5 text-panelColor">Afișează lista cu programările viitoare.</p>
            </div>
        </div>
    </div>
</div>