<!--<edit-container headerTitle="Add user - users details">-->
  <edit-container [headerTitle]="id ? 'Edit partner' : 'Add partner'">
    <app-loader *ngIf="isLoading$ | async" [isContainer]="true" [fullScreen]="false"></app-loader>
    <form [formGroup]="partnerForm" *ngIf="!(isLoading$ | async)">
        <div class="flex flex-col mx-auto max-w-[440px] gap-5">
                <div iconic-input-wrapper leftIcon="user">
                    <input inputRef type="text" id="name" placeholder="Partner Name" formControlName="name" />
                </div>
            <!-- <div iconic-select-wrapper leftIcon="user"
                        [rightIcon]="['fas', 'caret-down']">
                        <select spAccessInputRef name="type" id="type" formControlName="type">
                            <option disabled selected value="">Partner type</option>
                            <option *ngFor="let type of partnerType" [value]="type.value">
                                {{ type.name }}
                            </option>
                        </select>
                    </div> -->
            <div iconic-select-wrapper leftIcon="eye"
                        [rightIcon]="['fas', 'caret-down']">
                        <select spAccessInputRef name="status" id="status" formControlName="status">
                            <option disabled selected value="">Status</option>
                            <option *ngFor="let status of status" [value]="status.value">
                                {{ status.name }}
                            </option>
                        </select>
                    </div>
                    <div iconic-input-wrapper leftIcon="location-crosshairs">
                      <input inputRef type="text" id="address" placeholder="Address" formControlName="address" />
                  </div>
                  <div iconic-input-wrapper leftIcon="phone">
                    <input inputRef type="number" id="phone" placeholder="Phone" formControlName="phone" />
                </div>
                <div iconic-input-wrapper leftIcon="envelope">
                  <input inputRef type="email" id="email" placeholder="Email" formControlName="email" />
              </div>
        </div>

        <div class="flex justify-end pt-5">
            <div class="flex gap-4">
                <button [routerLink]="id ? '../../list' : '../list'" class="btn btn-outline-primary" type="button">
                    Cancel
                </button>
                <button class="btn btn-primary" type="button" (click)="saveUser()"
                    [disabled]="partnerForm.invalid || (isLoading$ | async)">
                    Save
                </button>
            </div>
        </div>
    </form>
</edit-container>
