<mat-stepper labelPosition="bottom" [linear]="isLinear" #stepper>
    <mat-step label="Route Details" [stepControl]="schedulingForm">
        <app-loader *ngIf="isLoading$ | async" [isContainer]="true" [fullScreen]="false"></app-loader>
        <form [formGroup]="schedulingForm" *ngIf="!(isLoading$ | async)">
            <div
                class="grid min-lg:grid-cols-2 grid-cols-1 gap-x-10 min-3xl:gap-x-20 gap-y-4 pt-[50px] min-xl:px-[50px]">
                <div class="flex flex-col gap-y-4 min-xl:px-[50px]">
                    <h4 class="font-bold">Locomotive and conductor</h4>
                    <div iconic-select-wrapper leftSvg="assets/images/carbon-train-speed.svg"
                        [rightIcon]="['fas', 'caret-down']" formGroupName="routingDetail"
                        (change)="onLocomotiveSelected($event)">
                        <select spAccessInputRef name="locomotiveId" id="locomotiveId" formControlName="locomotiveId">
                            <option disabled selected value="">
                                Locomotive registration number
                            </option>
                            <option *ngFor="let locomotive of locomotives" [value]="locomotive.id">
                                {{ locomotive.registrationNumber + '(' + locomotive.name + ')' }}
                            </option>
                        </select>
                    </div>
                    <div iconic-input-wrapper leftSvg="assets/images/carbon-train-speed.svg"
                        formGroupName="routingDetail">
                        <input readonly inputRef type="text" placeholder="Locomotive type"
                            formControlName="locomotiveType" />
                    </div>

                </div>
                <div class="flex flex-col gap-y-4 min-xl:px-[50px]">
                    <p>&nbsp;</p>
                    <div class="flex w-full flex-col h-[76px]">
                        <h2 class="text-[#696969] ">Conductor</h2>
                        <div class="flex justify-between" formGroupName="routingDetail">
                            <div class="flex justify-center items-center gap-1">
                                <input type="radio" name="conductorType" id="conductor" value="With Laras Conductor App"
                                    formControlName="conductorType" class="focus:!shadow-none checked:!bg-none">
                                <label for="conductor">With Lares Conductor app</label>
                            </div>
                            <div class="flex justify-center items-center gap-1">
                                <input type="radio" name="conductorType" id="withoutconductor"
                                    value="Without Laras Conductor App" formControlName="conductorType"
                                    class="focus:!shadow-none checked:!bg-none">
                                <label for="withoutconductor">Without Lares Conductor app</label>
                            </div>
                        </div>
                    </div>
                    <div iconic-input-wrapper leftIcon="envelope" formGroupName="routingDetail">
                        <input inputRef type="email" placeholder="User email" formControlName="userEmail" />
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-1 gap-x-10 gap-y-4 p-[100px] py-[30px] ">
                <h4 class="font-bold">Route details</h4>
                <form [formGroup]="routingDetailsForm">
                    <table class="table border border-lightgray">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Point type</th>
                                <th>Station type</th>
                                <th>Station</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody cdkDropList (cdkDropListDropped)="drop($event)">

                            @for (row of rows; track row) {
                            <tr cdkDrag>
                                <td class="flex gap-2 items-center h-[64px]">
                                    <img src="assets/images/tdesign_move.svg" alt="Flag">
                                    {{$index + 1}}
                                </td>
                                <td>
                                    <input class="text-center" readonly
                                        [value]="rows.indexOf(row) === 0 ? 'Start point' : rows.indexOf(row) === (rows.length - 1) ? 'End point' : 'Touch point'" />
                                </td>
                                <td>
                                    <select name="stationType" id="stationType"
                                        (change)="onStationTypeChange($event , $index)"
                                        [value]="points[$index]?.stationType || ''">
                                        <option disabled selected value="">
                                            Station type
                                        </option>
                                        <option *ngFor="let stationType of stationTypes" [value]="stationType.value">
                                            {{ stationType.name }}
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <select name="station" id="station" (change)="onStationChange($event, $index)"
                                        [value]="points[$index]?.station || ''"
                                        [disabled]="(isStationLoading$ | async) && $index === selectedIndex">
                                        <option disabled selected value="">
                                            Station
                                        </option>
                                        <option *ngFor="let station of stations[$index]" [value]="station.name">
                                            {{ station.name }}
                                        </option>
                                    </select>
                                </td>
                                <!-- <td> -->
                                <!-- <fa-icon  icon="pen" class="text-primary cursor-pointer"></fa-icon> -->
                                <!-- <fa-icon icon="trash" 
                                                class="text-primary cursor-pointer"></fa-icon>
                                        </td> -->
                            </tr>
                            }

                        </tbody>
                    </table>
                </form>
                <div>
                    <button type="button" class="flex text-primary font-bold py-5" (click)="addPoints()">
                        <fa-icon class="mt-[1px]" icon="circle-plus"></fa-icon>&nbsp; Add point
                    </button>
                </div>

            </div>
            <div class="min-xl:px-[50px] grid min-lg:grid-cols-2 grid-cols-1 gap-x-10 min-3xl:gap-x-20 mt-4">
                <div class="gap-y-4 mb-5 min-xl:px-[50px]">
                    <button type="button" class="btn btn-primary w-full min-h-[50px] !text-[18px]" routerLink="../">
                        {{ "button.back" | translate }}
                    </button>
                </div>
                <div class="gap-y-4 mb-5 min-xl:px-[50px]">
                    <button type="button" class="btn btn-primary w-full min-h-[50px] !text-[18px]" (click)="next(1)">
                        {{ "button.next" | translate }}
                    </button>
                </div>
            </div>
        </form>
    </mat-step>
    <mat-step label="Wagons">
        <app-loader *ngIf="isLoading$ | async" [isContainer]="true" [fullScreen]="false"></app-loader>
        <form [formGroup]="convoyForm" *ngIf="!(isLoading$ | async)">
            <div
                class="grid min-lg:grid-cols-2 grid-cols-1 gap-x-10 min-3xl:gap-x-20 gap-y-4 pt-[50px] min-xl:px-[50px]">
                <div class="flex flex-col gap-y-4 min-xl:px-[50px]">
                    <h4 class="font-bold">ShipmentID details</h4>
                    <div iconic-select-wrapper leftSvg="assets/images/bi_building-down.svg"
                        [rightIcon]="['fas', 'caret-down']">
                        <select spAccessInputRef name="pickUpFromCompany" id="pickUpFromCompany"
                            formControlName="pickUpFromCompany">
                            <option disabled selected value="">Pick-up from company</option>
                            <option *ngFor="let company of companiesList" [value]="company.id">
                                {{ company.name }}
                            </option>
                        </select>
                    </div>
                    <div iconic-select-wrapper leftSvg="assets/images/location_on_black_24dp.svg"
                        [rightIcon]="['fas', 'caret-down']">
                        <select spAccessInputRef name="pickUpPoint" id="pickUpPoint" formControlName="pickUpPoint">
                            <option disabled selected value="">Pick-up point</option>
                            <option *ngFor="let point of points" [value]="point.id">
                                {{ point.pointType + '(' + point.station + ')' }}
                            </option>
                        </select>
                    </div>
                    <div class="grid grid-cols-2 gap-x-8 gap-y-4 mb-5">
                        <datepicker matTooltipClass="drop-shadow-lg" matTooltipPosition="above"
                            [matTooltip]="'Pick-up ETA date' | translate" [model]="etpDate" [isHeaderPosition]="true"
                            [height]="52" (dateChanged)="OnETPDateChange($event)">
                        </datepicker>
                        <timepicker matTooltipClass="drop-shadow-lg" matTooltipPosition="above"
                            [matTooltip]="'Pick-up ETA time' | translate" [height]="52" [model]="etpTime"
                            (modelChange)="OnETPTimeChange($event)"></timepicker>
                    </div>
                </div>
                <div class="flex flex-col gap-y-4 min-xl:px-[50px]">
                    <p>&nbsp;</p>
                    <div iconic-select-wrapper leftSvg="assets/images/bi_building-up.svg"
                        [rightIcon]="['fas', 'caret-down']">
                        <select spAccessInputRef name="deliveryToCompany" id="deliveryToCompany"
                            formControlName="deliverToCompany">
                            <option disabled selected value="">Delivery to compny</option>
                            <option *ngFor="let company of companiesList" [value]="company.id">
                                {{ company.name }}
                            </option>
                        </select>
                    </div>
                    <div iconic-select-wrapper leftSvg="assets/images/location_on_black_24dp.svg"
                        [rightIcon]="['fas', 'caret-down']">
                        <select spAccessInputRef name="deliveryPoint" id="deliveryPoint" formControlName="deliverPoint">
                            <option disabled selected value="">Delivery point</option>
                            <option *ngFor="let point of points" [value]="point.id">
                                {{ point.pointType + '(' + point.station + ')' }}
                            </option>
                        </select>
                    </div>
                    <div class="grid grid-cols-2 gap-x-8 gap-y-4 mb-5">
                        <datepicker matTooltipClass="drop-shadow-lg" matTooltipPosition="above"
                            [matTooltip]="'Delivery ETA date' | translate" [model]="etdDate" [isHeaderPosition]="true"
                            [height]="52" (dateChanged)="OnETDDateChange($event)">
                        </datepicker>
                        <timepicker matTooltipClass="drop-shadow-lg" matTooltipPosition="above"
                            [matTooltip]="'Delivery ETA time' | translate" [height]="52" [model]="etdTime"
                            (modelChange)="OnETDTimeChange($event)"></timepicker>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-1 gap-x-10 gap-y-4 p-[100px] py-[30px] ">
                <table class="table border border-lightgray">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Wagons</th>
                            <th>Category</th>
                            <th>Subcategory</th>
                            <th>Brutto</th>
                            <th>Tara</th>
                            <th>Netto</th>
                            <th>Seals</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody formArrayName="convoyWagonDetail">
                        <tr *ngFor="
                        let wagon of wagons.controls;
                        let i = index
                    " [formGroupName]="i">
                            <td>
                                {{i + 1}}
                            </td>
                            <td>
                                <input type="number" class="text-center" formControlName="wagion" />
                            </td>
                            <td>
                                <select name="category" id="category" formControlNam="category">
                                    <option disabled selected value="">
                                        <!-- Category -->
                                    </option>
                                    <option *ngFor="let category of categoryList" [value]="category.name">
                                        {{ category.name }}
                                    </option>
                                </select>
                            </td>
                            <td>
                                <select name="subCategory" id="subCategory" formControlName="subCategory">
                                    <option disabled selected value="">
                                        <!-- Subcategory -->
                                    </option>
                                    <option *ngFor="let subCategory of subCategoryList" [value]="subCategory.name">
                                        {{ subCategory.name }}
                                    </option>
                                </select>
                            </td>
                            <td>
                                <input type="number" class="text-center" formControlName="grossWeight" />
                            </td>
                            <td>
                                <input type="number" class="text-center" formControlName="taraWeight" />
                            </td>
                            <td>
                                <input type="number" class="text-center" formControlName="netWeight" />
                            </td>
                            <td>
                                <input type="text" class="text-center" formControlName="seals" />
                            </td>
                            <!-- <td> -->
                            <!-- <fa-icon  icon="pen" class="text-primary cursor-pointer"></fa-icon> -->
                            <!-- <fa-icon icon="trash" 
                                    class="text-primary cursor-pointer"></fa-icon>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
                <div>
                    <button type="button" class="flex text-primary font-bold py-5" (click)="addWagons()">
                        <fa-icon icon="circle-plus"></fa-icon>&nbsp; Add wagon
                    </button>
                </div>
            </div>
            <div class="min-xl:px-[50px] grid min-lg:grid-cols-2 grid-cols-1 gap-x-10 min-3xl:gap-x-20 mt-4">
                <div class="gap-y-4 mb-5 min-xl:px-[50px]">
                    <button type="button" class="btn btn-primary w-full min-h-[50px] !text-[18px]" matStepperPrevious>
                        {{ "button.back" | translate }}
                    </button>
                </div>
                <div class="gap-y-4 mb-5 min-xl:px-[50px]">
                    <button type="button" class="btn btn-primary w-full min-h-[50px] !text-[18px]" (click)="next(2)">
                        {{ "button.next" | translate }}
                    </button>
                </div>
            </div>
        </form>
    </mat-step>
    <mat-step label="Additional Data">
        <app-loader *ngIf="isLoading$ | async" [isContainer]="true" [fullScreen]="false"></app-loader>
        <div *ngIf="!(isLoading$ | async)">
            <div class="pt-[100px] min-xl:px-[50px]">
                <form class="grid min-lg:grid-cols-2 grid-cols-1 gap-x-10 min-3xl:gap-x-20 gap-y-4"
                    [formGroup]="convoyForm">
                    <div class="flex flex-col gap-y-4 min-xl:px-[50px]">
                        <div iconic-input-wrapper leftIcon="user">
                            <input inputRef type="text" placeholder="Operator" formControlName="additionalOperator"
                                class="text-center" />
                        </div>
                        <mat-button-toggle-group class="flex w-full justify-end items-center mb-[21px]">
                            <button
                                class="min-h-[53px] min-md:min-w-[53px] max-sm:w-full rounded-l-[10px] border-y border-l border-borderColor rounded-r-none">
                                <fa-icon icon="file-lines" size="lg" class="mx-2 cursor-pointer">
                                </fa-icon>
                            </button>
                            <input
                                class="text-center w-full outline-0 shadow-none bw ring-offset-0 focus:ring-offset-0 focus:shadow-none focus:ring-0 min-h-[53px] border-x-0 border-borderColor rounded-x-0"
                                type="text" [value]="file1Text$ | async" (click)="file1.click()" readonly
                                placeholder="Choose file" />
                            <input #file1 hidden type="file" (change)="
                                    patchFile($any($event.target).files[0] , 0)
                                " />
                            <button (click)="file1.click()"
                                class="bg-primary text-white hover:bg-primary-dark min-h-[53px] min-md:min-w-[60px] max-sm:w-full rounded">
                                <fa-icon icon="upload" size="2x" class="mx-2 cursor-pointer text-white">
                                </fa-icon>
                            </button>
                        </mat-button-toggle-group>
                        <mat-button-toggle-group class="flex w-full justify-end items-center mb-[21px]">
                            <button
                                class="min-h-[53px] min-md:min-w-[53px] max-sm:w-full rounded-l-[10px] border-y border-l border-borderColor rounded-r-none">
                                <fa-icon icon="file-lines" size="lg" class="mx-2 cursor-pointer">
                                </fa-icon>
                            </button>
                            <input
                                class="text-center w-full outline-0 shadow-none bw ring-offset-0 focus:ring-offset-0 focus:shadow-none focus:ring-0 min-h-[53px] border-x-0 border-borderColor rounded-x-0"
                                type="text" [value]="file2Text$ | async" (click)="file2.click()" readonly
                                placeholder="Choose file" />
                            <input #file2 hidden type="file" (change)="
                                    patchFile($any($event.target).files[0] , 1)
                                " />
                            <button (click)="file2.click()"
                                class="bg-primary text-white hover:bg-primary-dark min-h-[53px] min-md:min-w-[60px] max-sm:w-full rounded">
                                <fa-icon icon="upload" size="2x" class="mx-2 cursor-pointer text-white">
                                </fa-icon>
                            </button>
                        </mat-button-toggle-group>
                        <mat-button-toggle-group *ngIf="showFileThree$ | async"
                            class="flex w-full justify-end items-center mb-[21px]">
                            <button
                                class="min-h-[53px] min-md:min-w-[53px] max-sm:w-full rounded-l-[10px] border-y border-l border-borderColor rounded-r-none">
                                <fa-icon icon="file-lines" size="lg" class="mx-2 cursor-pointer">
                                </fa-icon>
                            </button>
                            <input
                                class="text-center w-full outline-0 shadow-none bw ring-offset-0 focus:ring-offset-0 focus:shadow-none focus:ring-0 min-h-[53px] border-x-0 border-borderColor	rounded-x-0"
                                type="text" [value]="file3Text$ | async" (click)="file3.click()" readonly
                                placeholder="Choose file">
                            <input #file3 hidden type="file" (change)="patchFile($any($event.target).files[0], 2)">
                            <button (click)="file3.click()"
                                class="bg-primary text-white hover:bg-primary-dark min-h-[53px] min-md:min-w-[60px] max-sm:w-full rounded">
                                <fa-icon icon="upload" size="2x" class="mx-2 cursor-pointer text-white">
                                </fa-icon>
                            </button>
                        </mat-button-toggle-group>
                        <button *ngIf="!(showFileThree$ | async)" type="button" class="text-primary font-bold mr-auto"
                            (click)="showFileThree$.next(true)">
                            <fa-icon icon="circle-plus"></fa-icon> Add New
                            Document
                        </button>
                    </div>
                    <div class="grid grid-rows-2 gap-y-4 min-xl:px-[50px]">
                        <div textarea-wrapper leftIcon="user" [isFullHeight]="true">
                            <textarea class="break-words whitespace-pre-wrap resize-none" inputRef
                                placeholder="Client's comments:" rows="10" cols="1"
                                formControlName="clientComments"></textarea>
                        </div>
                        <div textarea-wrapper leftIcon="id-card" [isFullHeight]="true">
                            <textarea class="break-words whitespace-pre-wrap resize-none" inputRef
                                placeholder="Operator's comments" rows="10" cols="1"
                                formControlName="operatorComments"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="min-xl:px-[50px] mt-8 grid min-lg:grid-cols-2 grid-cols-1 gap-x-10 min-3xl:gap-x-20">
                <div class="gap-y-4 mb-5 min-xl:px-[50px]">
                    <button type="button" class="btn btn-primary w-full min-h-[50px] !text-[18px]" matStepperPrevious>
                        {{ "button.back" | translate }}
                    </button>
                </div>
                <div class="gap-y-4 mb-5 min-xl:px-[50px]">
                    <button type="button" class="btn btn-primary w-full min-h-[50px] !text-[18px]" (click)="next(3)">
                        {{ "button.next" | translate }}
                    </button>
                </div>
            </div>
        </div>
    </mat-step>
    <mat-step label="Save or Extend">
        <app-loader *ngIf="isLoading$ | async" [isContainer]="true" [fullScreen]="false"></app-loader>
        <div class="flex flex-col justify-center" *ngIf="!(isLoading$ | async)">
            <div class="flex-1 flex justify-center gap-10 w-full max-lg:flex-col cursor-pointer">
                <div (click)="saveScheduling()"
                    class="flex min-lg:flex-col gap-5 items-center justify-evenly w-full min-lg:w-[400px] h-[520px] rounded-[10px] border border-transparent shadow-md cursor-pointer">
                    <div class="flex flex-col gap-2 items-center cursor-pointer">
                        <div
                            class="border border-[#B7B7B7] rounded-full flex justify-center items-center w-[155px] h-[155px] cursor-pointer">
                            <img src="assets/images/scheduling_flag.svg" alt="Flag">
                        </div>
                        <h2 class="text-4xl text-[#696969] font-bold cursor-pointer">Train ended</h2>
                    </div>
                    <div class="w-[335px] mx-[auto] text-center cursor-pointer">
                        <p class="text-3xl text-[#696969] font-normal cursor-pointer">
                            Click this button if you added all the wagons of the train.
                        </p>
                    </div>
                </div>
                <div (click)="navigate(1)"
                    class="flex min-lg:flex-col justify-evenly gap-5 items-center w-full min-lg:w-[400px] h-[520px] rounded-[10px] border border-transparent shadow-md cursor-pointer">
                    <div class="flex flex-col gap-2 items-center cursor-pointer">
                        <div
                            class="border border-[#B7B7B7] rounded-full flex justify-center items-center w-[155px] h-[155px] cursor-pointer">
                            <img src="assets/images/carbon_train-speed-1.svg" alt="Flag">
                        </div>
                        <h2 class="text-4xl text-[#696969] font-bold cursor-pointer">Add wagonr to train</h2>
                    </div>
                    <div class="w-[335px] mx-[auto] text-center cursor-pointer">
                        <p class="text-3xl text-[#696969] font-normal cursor-pointer">
                            Click this button to add a new wagonr to the train.
                        </p>
                    </div>
                </div>
            </div>
            <div class="flex justify-center mt-8">
                <button type="button" class="btn btn-primary w-[440px] min-h-[50px] !text-[18px]" matStepperPrevious>
                    {{ "button.back" | translate }}
                </button>
            </div>
        </div>
    </mat-step>
</mat-stepper>