<app-loader *ngIf="isLoading$ | async" [isContainer]="true" [fullScreen]="false"></app-loader>
<div class="flex-grow flex flex-col gap-8" *ngIf="!(isLoading$ | async)">
    <div class="flex justify-between sm:justify-center md:flex-row max-md:flex-col">
        <h3 class="heading-3">{{ "menu.dashboard" | translate }}</h3>
        <searchbar [minWidth]="500">
            <fa-icon icon="search" leftIcon></fa-icon>
            <input input class="rounded" type="text" placeholder="Search Client" />
        </searchbar>
    </div>
    <div class="flex flex-wrap gap-8">
        <div statistic-card-v2 dashSvg="assets/images/dashboard_routes.svg" class="flex-grow slide-in-bottom"
            label="No. of routes" [numericValue]="dashboardData?.noOfPlanningRoutesCount" textColor="orange"
            colorStyle="orange"></div>
        <div statistic-card-v2 dashSvg="assets/images/dashboard_tp.svg" class="flex-grow slide-in-bottom"
            label="No. of touchpoints" [numericValue]="dashboardData?.noOfTouchPointsCount" textColor="#A32314"
            colorStyle="#A32314"></div>
        <div statistic-card-v2 dashSvg="assets/images/dashboard_sid.svg" class="flex-grow slide-in-bottom"
            label="No. of SID" [numericValue]="dashboardData?.noOfPlanningConvoySidsCount" textColor="#17A0B5"
            colorStyle="#17A0B5"></div>
    </div>
    <div class="flex w-full max-lg:flex-col gap-12">
        <div class="flex-1 flex-grow flex flex-col p-4 bg-white shadow-md">
            <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="sidsByStatus" [legend]="true"
                [legendPosition]="legendPosition" [doughnut]="false"
                [legendTitle]="'SIDs by status'"></ngx-charts-pie-chart> -->
                <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [legend]="true" [legendPosition]="legendPosition"
        [doughnut]="false" [legendTitle]="'SID by status'">
        <!-- <ng-container *ngFor="let item of sidsByStatus"> -->
            <!-- <ngx-charts-series-vertical [shipmentStatus]="item.shipmentStatus" [count]="item.count"></ngx-charts-series-vertical> -->
        <!-- </ng-container> -->
    </ngx-charts-pie-chart>
        </div>
        
        <div class="flex-1 flex-grow flex flex-col p-4 bg-white shadow-md">
            <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="timeBreakDown" [legend]="true"
                [legendPosition]="legendPosition" [doughnut]="false"
                [legendTitle]="'Time breakdown'"></ngx-charts-pie-chart>
        </div>
    </div>
    <app-map Title="SIDs by Port"></app-map>
</div>
