<section class="tw-h-max" [@slideIn] [@slideOut] *ngIf="(step$ | async) === 1">
    <div class="tw-flex tw-flex-col tw-gap-16">
        <div class="tw-flex tw-flex-col tw-gap-4">
            <h1 class="heading-2 tw-text-center tw-mb-8">PERSONAL DATA</h1>

            <p class="tw-mb-8 tw-text-[#08073A] tw-text-xl tw-max-w-[430px]">
                All personal data processed through our apps are your property and are always available to you.
                <br><br>
                To better understand the conditions, legal requirments and our commitment, please read the dedicated
                sectio at
                <a href="https://www.privacy.lowis.tech" target="_blank" class="tw-text-[#08073A] tw-text-xl">
                    https://www.privacy.lowis.tech</a>
            </p>

            <div class="tw-flex tw-gap-4 tw-items-center">
                <input id="viewed" type="checkbox" class="tw-border tw-border-defaultText tw-cursor-pointer">
                <label for="viewed" class="tw-text-xl tw-text-[#08073A]">I read and understood the privacy
                    notice</label>
            </div>
        </div>
        <div>
            <button class="btn btn-primary tw-w-full" (click)="step$.next(2)">Continue</button>
        </div>
    </div>
</section>

<section [@slideIn] [@slideOut] *ngIf="(step$ | async) === 2">
    <div class="tw-flex tw-flex-col tw-gap-4">
        <h1 class="heading-2 tw-text-center tw-mb-8">Sign up</h1>
        <form id="signUpForm" [formGroup]="registerForm" class="tw-w-full tw-min-w-xs tw-flex tw-flex-col tw-gap-1">

            <div formGroupName="userSetting" iconic-input-wrapper leftIcon="user" class="tw-w-full"
                [withCheckmark]="true">
                <input formControlName="firstName" type="text" inputRef placeholder="First Name"
                    class="tw-text-center" />
            </div>
            <div formGroupName="userSetting" iconic-input-wrapper leftIcon="user" class="tw-w-full"
                [withCheckmark]="true">
                <input formControlName="lastName" type="text" inputRef placeholder="Last Name" class="tw-text-center" />
            </div>

            <div formGroupName="user" iconic-input-wrapper leftIcon="envelope" class="tw-w-full" [withCheckmark]="true">
                <input formControlName="email" type="text" inputRef placeholder="Email" class="tw-text-center" />
            </div>

            <!-- <div formGroupName="userSetting" iconic-input-wrapper [withCheckmark]="true" leftIcon="phone"
                class="tw-w-full">
                <input formControlName="phone" type="tel" inputRef placeholder="Phone #" class="tw-text-center">
            </div>
            <div formGroupName="userSetting" iconic-input-wrapper [withCheckmark]="true" leftIcon="phone"
                class="tw-w-full">
                <input formControlName="phoneRegionCode" type="text" inputRef placeholder="Phone Region Code"
                    class="tw-text-center">
            </div> -->
        </form>
        <div class="tw-flex tw-flex-col tw-gap-8 tw-text-center">
            <button [disabled]="isLoading$ | async" type="submit" class="btn btn-primary tw-w-full"
                (click)="step$.next(3)">Continue</button>
            <div class="tw-flex tw-flex-col tw-gap-2">
                <p>Or sign up with another account</p>
                <div class="tw-flex tw-gap-12 tw-justify-center">
                    <img src="assets/images/AppleLogo.svg" alt="Apple Logo">
                    <img src="assets/images/GoogleLogo.svg" alt="Google Logo">
                </div>
            </div>
            <p class="heading-5 tw-text-textDefault tw-font-bold">Already have an account? <a
                    class="tw-text-primary tw-cursor-pointer" routerLink="../sign-in">Sign in</a></p>
        </div>
    </div>
</section>

<section [@slideIn] [@slideOut] *ngIf="(step$ | async) === 3">
    <div class="tw-flex tw-flex-col tw-gap-10">
        <div class="tw-flex tw-flex-col tw-gap-8">
            <h1 class="heading-2 tw-text-center">Sign up</h1>
            <p class="tw-text-[#08073A] tw-text-md tw-text-center tw-max-w-[430px]">Choose the type of account you want
                to create.
                <br>
                Different features are available depending on the type of account.
            </p>
        </div>
        <div class="tw-flex tw-flex-col tw-gap-12">
            <div class="tw-flex tw-flex-col tw-gap-4">
                <div class="tw-w-full tw-shadow-md tw-rounded-lg tw-border tw-border-transparent tw-gap-5 tw-h-28 tw-p-6 tw-flex tw-items-center">
                    <div class="tw-flex tw-justify-center tw-p-5 tw-border tw-border-gray tw-rounded-full tw-h-[72px] tw-w-[72px] tw-items-center">
                        <img src="assets/images/Reg_truck.svg" alt="icon">
                      </div>
                    <h1 class="text tw-text-4xl tw-font-bold">Transport company</h1>
                </div>
                <div class="tw-w-full tw-shadow-md tw-rounded-lg tw-border tw-border-transparent tw-gap-5 tw-h-28 tw-p-6 tw-flex tw-items-center">
                    <div class="tw-flex tw-justify-center tw-p-5 tw-border tw-border-gray tw-rounded-full tw-h-[72px] tw-w-[72px] tw-items-center">
                        <img src="assets/images/Reg_file.svg" alt="icon">
                      </div>
                    <h1 class="text tw-text-4xl tw-font-bold">Agent company</h1>
                </div>
                <div class="tw-w-full tw-shadow-md tw-rounded-lg tw-border tw-border-transparent tw-gap-5 tw-h-28 tw-p-6 tw-flex tw-items-center">
                    <div class="tw-flex tw-justify-center tw-p-5 tw-border tw-border-gray tw-rounded-full tw-h-[72px] tw-w-[72px] tw-items-center">
                        <img src="assets/images/Reg_manu.svg" alt="icon">
                      </div>
                    <h1 class="text tw-text-4xl tw-font-bold">Maneuvering company</h1>
                </div>
            </div>
            <div class="">
                <button class="btn btn-primary tw-w-full" (click)="step$.next(4)">Next</button>
            </div>
        </div>
    </div>
</section>

<section [@slideIn] [@slideOut] *ngIf="(step$ | async) === 4">
    <div class="tw-flex tw-flex-col tw-gap-16">
        <div class="tw-flex tw-flex-col tw-gap-12">
            <h1 class="heading-2 tw-text-center">CONGRATULATIONS!</h1>
            <p class="tw-text-[#08073A] tw-text-xl tw-max-w-[430px]">Your account was created.
                You will receive an email to activate your account.
                <br><br>
                Please make sure you activate the account in maximum 72 hours. Otherwise, the account will be
                automatically deleted.
            </p>
        </div>
        <div class="">
            <button [disabled]="isLoading$ | async" type="submit" class="btn btn-primary tw-w-full" (click)="signUp()"
                form="signUpForm">Home</button>
        </div>
    </div>
</section>
